<nav class="navbar navbar-expand-sm-bg-sucecess navbar-dark">
  <a href="navbar-brand" href="#">
  Angular Task Manager
</a>
<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#mynav">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="mynav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id ="search"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class ="forms-control" placeholder="Search">
    </div>
    <button class="btn btn-warning my2-my-sm-0" type="button">Search</button>
  </form>
</div>
</nav>

<div class="container-fluid">
  <h1>Welcome to Angular</h1>

  <h3>Hello, Prateek</h3>
</div>
